* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5vw;
    direction: rtl;
}

.s1 {
    background-image: url(../images/start/start.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 90vw;
    height: 57vw;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1vw 2vw;
    position: relative;

    .start-btn {
        width: 13vw;
        max-width: 170px;
        position: absolute;
        bottom: 1.45vw;
        cursor: pointer;
    }
}

.header,
.bottom {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 90vw !important;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw 2vw;
    margin: 0 auto;
    position: relative;
}

.header {
    background-image: url(../images/b/Header\ Bar-8.svg);
    height: 33.8vw;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    flex-direction: column;
    transform: translateX(-50%);

    .header-icons {
        margin-right: auto;

        img {
            width: 4vw;
            margin: 0.5vw .7vw;
            cursor: pointer;
            max-width: 65px;

            &:hover {
                filter: drop-shadow(0 0 .2vw #738eb8);
            }
        }
    }

    .popups {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .btns {
            display: flex;
            margin-top: 4vw;
            margin-right: auto;
            margin-left: -2.2vw;
        }

        .title {
            position: relative;
        }

        .title img {
            height: 3.5vw;
            position: absolute;
            top: 3.5vw;
            right: 5.5vw;
        }

        .btns img {
            width: 22vw;
            cursor: pointer;

            &:hover {
                filter: drop-shadow(0 0 .4vw #fff);
            }
        }
    }
}

.bottom {
    background-image: url(../images/b/bottom.png);
    height: 70vw;

    .z-1 {
        z-index: 1;
    }

    .z-2 {
        z-index: 2;
    }

    .z-3 {
        z-index: 3;
    }

    .z-4 {
        z-index: 4;
    }

    .gloss,
    .ex {
        position: relative;
        top: 34vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .content img {
            width: 70vw;
            animation: fade .3s linear;
        }

        .btns {
            display: flex;

            img {
                width: 25vw;
                cursor: pointer;
            }
        }

        .navigator {
            position: absolute;
            top: 0;
            right: 4vw;

            img {
                width: 9.8vw;
            }

            button {
                position: absolute;
                width: 4.4vw;
                height: 3.4vw;
                background: transparent;
                border: none;
                right: 1.6vw;
                cursor: pointer;
            }

            .nav1 {
                top: 2.3vw;
            }

            .nav2 {
                top: 6.3vw;
            }

            .nav3 {
                top: 10.2vw;
            }

            .nav4 {
                top: 14.2vw;
            }
        }

        .ex3 {

            .overlay {
                animation: fade .3s linear;

                .box {
                    position: absolute;
                    left: -38.8vw;
                    width: 61.5vw;
                }

                .feedback {
                    position: absolute;
                    width: 26vw;
                    left: -3vw;
                }

                h1 {
                    position: absolute;
                    left: -13.1vw;
                    font-family: "Tajawal", sans-serif;
                    font-size: 2.5vw;
                    font-weight: 500;
                }

                .x {
                    left: -1.6vw;
                    width: 1vw;
                    padding: 1.5vw;
                    background: transparent !important;
                    box-shadow: none !important;
                }

                &::after {
                    content: "";
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.7);
                    z-index: inherit;
                    animation: fade .3s linear;
                    transition: all .3s ease-in-out;

                }
            }

            div:not(.navigator) button {
                // margin-left: 16vw;
                background-color: #6fafcd;
                border-radius: 6px;
                border: none;
                color: #fff;
                font-size: 2vw;
                font-family: "Tajawal", sans-serif;
                font-weight: 700;
                padding: 0.8vw 1vw;
                box-shadow: 0 .1vw .2vw .2vw #e1e1e1;
                cursor: pointer;
                position: absolute;
                left: .5vw;
                width: 17vw;

                &:hover {
                    background-color: #6ba6c1;
                    box-shadow: 0 .15vw .2vw .2vw #c3c3c3;
                }
            }

            .fb-btn:not(.retry) {
                cursor: default !important;
                box-shadow: none !important;

                &:hover {
                    background-color: #6fafcd !important;
                }
            }

            .retry {
                background-color: #7e4d7c !important;

                &:hover {
                    background-color: #714670 !important;
                    cursor: pointer !important;
                }
            }

            input {
                width: 3.8vw;
                height: 4.9vw;
                outline: none;
                font-size: 2.5vw;
                font-family: "Tajawal", sans-serif;
                font-weight: 500;
                text-align: center;
                border: none;
                background: transparent;
                // position: absolute;
                // left: -22vw;
            }

            div {

                div:not(.overlay) {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    left: -20.2vw;
                }
            }

            .g1 {
                position: relative;
                // top: 72.1vw;
                // left: 25.5vw;

                div {
                    top: 62vw;
                }

                .i1 {
                    top: 72.3vw;
                }

                .i2 {
                    top: 78.05vw;
                }

                button {
                    top: 65vw;
                }
            }

            .g2 {
                position: relative;

                div {
                    top: 98vw;
                }

                .i3 {
                    top: 111.7vw;
                }

                .i4 {
                    top: 117.45vw;
                }

                button {
                    top: 100.6vw;
                }
            }

            .g3 {
                position: relative;

                div {
                    top: 147.5vw;
                    left: -30.9vw !important;
                }

                .i5 {
                    left: -33.76vw;
                }

                .i6 {
                    left: -29.47vw;
                }

                button:not(.x) {
                    top: 147.8vw;
                    left: -1.5vw !important;
                    padding: 0.5vw 1vw !important;
                }

                div {
                    flex-direction: row !important;
                    gap: 1.22vw;
                }

                input {
                    width: 2.7vw;
                    height: 4.8vw;
                    top: 166.35vw;
                }
            }
        }
    }
}

// @mixin breakpoints($point) {
//     @if $point==mobile {
//         @media only screen and (max-width:991px) {
//             @content;
//         }
//     }
// }

// .ex3 {
//     @include breakpoints(mobile) {
//         .g1 {
//             .box {
//                 top: 71vw !important;
//             }

//             h1 {
//                 top: 76.7vw !important;
//             }

//             .i1 {
//                 top: 73.5vw !important;
//             }

//             .i2 {
//                 top: 79.25vw !important;
//             }

//             input {
//                 height: initial;
//             }

//             button:not(.x) {
//                 top: 76.6vw !important;
//             }
//         }

//         .g2 {
//             .box {
//                 top: 110.7vw !important;
//             }

//             h1 {
//                 top: 116.25vw !important;
//             }

//             .i3 {
//                 top: 113.3vw !important;
//             }

//             .i4 {
//                 top: 119.2vw !important;
//             }

//             input {
//                 height: initial;
//             }

//             button:not(.x) {
//                 top: 114.4vw !important;
//             }
//         }

//         .g3 {
//             .box {
//                 top: 165.6vw !important;
//             }

//             .i5,
//             .i6 {
//                 top: 168.6vw !important;
//             }

//             input {
//                 height: initial;
//             }

//             button:not(.x) {
//                 top: 168vw !important;
//                 left: -1.5vw !important;
//                 padding: .3vw .8vw;
//             }
//         }
//     }
// }

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }


}