* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5vw;
    direction: rtl;
}

.s1 {
    background-image: url(../images/start/start.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 90vw;
    height: 57vw;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1vw 2vw;
    position: relative;

    .start-btn {
        width: 13vw;
        max-width: 170px;
        position: absolute;
        bottom: 1.45vw;
        cursor: pointer;
    }
}

.header,
.bottom {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 90vw !important;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw 2vw;
    margin: 0 auto;
    position: relative;
}

.header {
    background-image: url(../images/b/Header\ Bar-8.svg);
    height: 33.8vw;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    flex-direction: column;
    transform: translateX(-50%);

    .header-icons {
        margin-right: auto;

        img {
            width: 4vw;
            margin: 0.5vw .7vw;
            cursor: pointer;
            max-width: 65px;

            &:hover {
                filter: drop-shadow(0 0 .2vw #738eb8);
            }
        }
    }

    .popups {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .btns {
            display: flex;
            margin-top: 4vw;
            margin-right: auto;
            margin-left: -2.2vw;
        }

        .title {
            position: relative;
        }

        .title img {
            height: 3.5vw;
            position: absolute;
            top: 3.5vw;
            right: 5.5vw;
        }

        .btns img {
            width: 22vw;
            cursor: pointer;

            &:hover {
                filter: drop-shadow(0 0 .4vw #fff);
            }
        }
    }
}

.bottom {
    background-image: url(../images/b/bottom.png);
    height: 70vw;

    .z-1 {
        z-index: 1;
    }

    .z-2 {
        z-index: 2;
    }

    .z-3 {
        z-index: 3;
    }

    .z-4 {
        z-index: 4;
    }

    .gloss,
    .ex {
        position: relative;
        top: 34vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .i01 {
            margin: 2vw 0;
            width: 21vw;
            position: relative;
            right: -14.5vw;
        }

        .iframe {
            width: 62vw;
            height: 50vw;
            margin-right: auto;
            margin-left: 5.5vw;
            border: none;
        }

        .chk {
            width: 22vw;
            position: absolute;
            top: 159vw;
            left: 24vw;
            cursor: pointer;
        }


        .img~.overlay {
            .fb-btn {
                top: 43.5vw;
                left: 22.5vw;
            }
        }

        video {
            width: 64vw;
            margin-right: 13vw;
            margin-top: 1vw;
            border: 0.6vw solid #6fafcd;
            border-radius: 0.3vw;
        }

        .img {
            position: absolute;
            top: 0;
            right: 18vw;

            div {
                display: flex;
                gap: 1vw;
                align-items: center;
                margin-top: 1vw;

                h2 {
                    font-family: "Tajawal", sans-serif;
                    font-size: 1.9vw;
                    font-weight: 500;
                }

                input {
                    width: 6.5vw;
                    outline: none;
                    font-size: 2.5vw;
                    font-family: "Tajawal", sans-serif;
                    font-weight: 500;
                    text-align: center;
                    border: 2px solid #8ab5cb;
                    border-radius: 6px;
                }


            }

            h1 {
                font-size: 2.4vw;
                font-family: "Tajawal", sans-serif;
            }

            img {
                width: 35vw;
                margin: 2vw auto;
                margin-right: 11vw;
            }
        }

        .content {
            position: relative;

            img {
                &:first-of-type {

                    width: 70vw;
                    animation: fade .3s linear;
                }

                &:last-of-type {

                    position: absolute;
                    left: 0vw;
                    bottom: 1vw;
                    width: 34vw;
                    animation: fade .3s linear;
                }
            }
        }

        .btns {
            display: flex;

            img {
                width: 25vw;
                cursor: pointer;
            }
        }

        .navigator {
            position: absolute;
            top: 0;
            right: 4vw;

            img {
                width: 9.8vw;
            }

            button {
                position: absolute;
                width: 4.4vw;
                height: 3.4vw;
                background: transparent;
                border: none;
                right: 1.6vw;
                cursor: pointer;
            }

            .nav1 {
                top: 2.3vw;
            }

            .nav2 {
                top: 6.3vw;
            }

            .nav3 {
                top: 10.2vw;
            }

            .nav4 {
                top: 13.9vw;
            }

            .nav5 {
                top: 17.6vw;
            }

            .nav6 {
                top: 21.4vw;
            }

            .nav7 {
                top: 25.1vw;
            }

            .nav8 {
                top: 28.8vw;
            }

            .nav9 {
                top: 32.5vw;
            }

            .nav10 {
                top: 36.2vw;
            }
        }

        div:not(.navigator) button {
            // margin-left: 16vw;
            background-color: #6fafcd;
            border-radius: 6px;
            border: none;
            color: #fff;
            font-size: 1.7vw;
            font-family: "Tajawal", sans-serif;
            font-weight: 700;
            padding: 0.8vw 1vw;
            box-shadow: 0 .1vw .2vw .2vw #e1e1e1;
            cursor: pointer;
            position: absolute;
            left: .5vw;
            width: 15vw;

            &:hover {
                background-color: #6ba6c1;
                box-shadow: 0 .15vw .2vw .2vw #c3c3c3;
            }
        }

        .overlay {
            animation: fade .3s linear;

            .box {
                position: absolute;
                left: -38.8vw;
                width: 61.5vw;
            }

            .feedback {
                position: absolute;
                width: 26vw;
                left: -3vw;
            }

            h1 {
                position: absolute;
                left: -13.1vw;
                font-family: "Tajawal", sans-serif;
                font-size: 2.5vw;
                font-weight: 500;
            }

            .x {
                left: -1.6vw;
                width: 1vw;
                padding: 1.5vw;
                background: transparent !important;
                box-shadow: none !important;
            }

            &::after {
                content: "";
                position: fixed;
                width: 100%;
                height: 100vh;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.7);
                z-index: inherit;
                animation: fade .3s linear;
                transition: all .3s ease-in-out;

            }

            .fb-btn:not(.retry) {
                cursor: default !important;
                box-shadow: none !important;

                &:hover {
                    background-color: #6fafcd !important;
                }
            }

            .retry {
                background-color: #7e4d7c !important;

                &:hover {
                    background-color: #714670 !important;
                    cursor: pointer !important;
                }
            }
        }


        input {
            width: 3.8vw;
            // height: 4.9vw;
            outline: none;
            font-size: 2.5vw;
            font-family: "Tajawal", sans-serif;
            font-weight: 500;
            text-align: center;
            border: none;
            background: transparent;
            // position: absolute;
            // left: -22vw;
        }

        .ex3 {

            div {

                div:not(.overlay) {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    left: -20.2vw;
                    gap: 1.5vw;
                }
            }

            .g1 {
                position: relative;
                // top: 72.1vw;
                // left: 25.5vw;

                div {
                    top: 62.6vw;
                }

                .i1 {
                    top: 72.3vw;
                }

                .i2 {
                    top: 78.05vw;
                }

                button {
                    top: 65vw;
                }
            }

            .g2 {
                position: relative;

                div {
                    top: 98.5vw;
                }

                .i3 {
                    top: 111.7vw;
                }

                .i4 {
                    top: 117.45vw;
                }

                button {
                    top: 100.6vw;
                }
            }

            .g3 {
                position: relative;

                div {
                    top: 147.5vw;
                    left: -30.9vw !important;
                }

                .i5 {
                    left: -33.76vw;
                }

                .i6 {
                    left: -29.47vw;
                }

                button:not(.x) {
                    top: 147.8vw;
                    left: -1.5vw !important;
                    padding: 0.5vw 1vw !important;
                }

                div {
                    flex-direction: row !important;
                    gap: 1.22vw;
                }

                input {
                    width: 2.7vw;
                    // height: 4.8vw;
                    margin-top: 0.5vw;
                }
            }

            .g4 {
                position: relative;
                top: 190vw;

                div {
                    top: -9vw;
                    left: 4.5vw !important;
                }

                .i7 {
                    position: absolute;
                    // top: 121.7vw;
                    border: 1px solid #6fafcd;
                    height: 3.3vw;
                    right: -5.4vw;
                }

                .i8,
                .i9 {
                    position: absolute;
                    top: 3.9vw;
                    border: 1px solid #6fafcd;
                    height: 3.3vw;
                    right: -1.4vw;
                }

                .i9 {
                    right: -5.4vw;
                }

                button {

                    left: -9.5vw;
                    width: 11vw;
                    font-size: 1.2vw;

                    // top: 110.6vw;
                    &:first-of-type {
                        top: -9.1vw;
                    }

                    &:last-of-type {
                        top: -5.1vw;
                    }
                }
            }
        }

        .ex4 {
            position: relative;
            top: 9vw;
            right: 7vw;
            width: 64vw;

            img {
                width: 21.5vw;
            }

            .q {
                display: flex;
                align-items: flex-start;

                img {
                    position: absolute;
                    top: -1vw;
                    left: 0;
                    width: 23.5vw !important;
                }
            }

            h2 {
                width: 63.5%;
                font-family: "Tajawal", sans-serif;
                font-size: 1.9vw;
                font-weight: 500;
            }

            input {
                position: absolute;
                top: 15vw;
                border: 1px solid #6fafcd;
                height: 4.3vw;
                width: 6vw;
            }

            button {
                top: 15vw;
                right: 11vw;
            }
        }

        .exr10 {
            top: 3vw !important;


            h2 {
                width: initial !important;
            }

            button {
                top: 8.5vw;
                right: 40vw;
            }

            .q {
                position: absolute;

                textarea {
                    font-size: 1.3vw;
                    font-family: "Tajawal", sans-serif;
                    border: 0.2vw solid #6ba6c1;
                    width: 39vw;
                }

                button {
                    width: 14vw;
                    font-size: 1.6vw;
                }

                &:nth-of-type(1) {
                    top: 0vw;

                    input {
                        right: 22.5vw;
                        top: 15.2vw;

                        &:nth-of-type(1) {
                            top: 10.2vw;
                        }

                        &:nth-of-type(3) {
                            right: 29.2vw !important;
                        }
                    }

                    button {

                        right: 38vw;

                        &:nth-of-type(1) {
                            top: 10.2vw;
                        }

                        &:nth-of-type(2) {
                            top: 15.5vw;
                        }

                    }
                }

                &:nth-of-type(2) {
                    top: 23vw;

                    .g4 {
                        position: absolute;
                        top: 9vw;
                    }
                }

                &:nth-of-type(3) {
                    top: 48vw;

                    .g4 {
                        position: absolute;
                        top: 4vw;
                    }
                }


            }

        }

        .exr8~.ex4 {
            top: 30vw;

            .g2 {
                position: absolute;
                top: 5vw;
                left: 56vw;


                button {
                    height: 4vw;
                    font-size: 1.8vw;
                }

                input {
                    height: 3.5vw;
                }
            }
        }

        .exr8 {

            .g4 {
                top: 22vw;
            }
        }

    }
}


// @mixin breakpoints($point) {
//     @if $point==mobile {
//         @media only screen and (max-width:991px) {
//             @content;
//         }
//     }
// }

// .ex3 {
//     @include breakpoints(mobile) {
//         .g1 {
//             .box {
//                 top: 71vw !important;
//             }

//             h1 {
//                 top: 76.7vw !important;
//             }

//             .i1 {
//                 top: 73.5vw !important;
//             }

//             .i2 {
//                 top: 79.25vw !important;
//             }

//             input {
//                 height: initial;
//             }

//             button:not(.x) {
//                 top: 76.6vw !important;
//             }
//         }

//         .g2 {
//             .box {
//                 top: 110.7vw !important;
//             }

//             h1 {
//                 top: 116.25vw !important;
//             }

//             .i3 {
//                 top: 113.3vw !important;
//             }

//             .i4 {
//                 top: 119.2vw !important;
//             }

//             input {
//                 height: initial;
//             }

//             button:not(.x) {
//                 top: 114.4vw !important;
//             }
//         }

//         .g3 {
//             .box {
//                 top: 165.6vw !important;
//             }

//             .i5,
//             .i6 {
//                 top: 168.6vw !important;
//             }

//             input {
//                 height: initial;
//             }

//             button:not(.x) {
//                 top: 168vw !important;
//                 left: -1.5vw !important;
//                 padding: .3vw .8vw;
//             }
//         }
//     }
// }

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}