* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5vw;
    direction: rtl;
}

.s1 {
    background-image: url(../images/start/start.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    min-width: 100% !important;
    height: 57vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1vw 2vw;
    position: relative;

    .start-btn {
        width: 13vw;
        max-width: 170px;
        position: absolute;
        bottom: 1.45vw;
        cursor: pointer;
    }
}

.header,
.bottom {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-width: 100% !important;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw 2vw;
    position: relative;
}

.header {
    background-image: url(../images/b/Header\ Bar-8.png);
    height: 33.8vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;

    .header-icons {
        margin-right: auto;

        img {
            width: 4vw;
            margin: 0.5vw .7vw;
            cursor: pointer;
            max-width: 65px;

            &:hover {
                filter: drop-shadow(0 0 .2vw #738eb8);
            }
        }
    }

    .popups {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .btns {
            display: flex;
            margin-top: 4vw;
            margin-right: auto;
            margin-left: 2vw;
        }

        .title {
            position: relative;
        }

        .title img {
            height: 3.5vw;
            position: absolute;
            top: 3.5vw;
            right: 6vw;
        }

        .btns img {
            width: 23vw;
            cursor: pointer;

            &:hover {
                filter: drop-shadow(0 0 .4vw #fff);
            }
        }
    }
}

.bottom {
    background-image: url(../images/b/bottom.png);
    height: 77vw;

    .z-1 {
        z-index: 1;
    }

    .z-2 {
        z-index: 2;
    }

    .z-3 {
        z-index: 3;
    }

    .z-4 {
        z-index: 4;
    }

    .gloss,
    .ex {
        position: relative;
        top: 34vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .content img {
            width: 80vw;
        }

        .btns {
            display: flex;

            img {
                width: 28vw;
                cursor: pointer;
            }
        }

        .navigator {
            position: absolute;
            top: 0;
            right: 4.5vw;

            img {
                width: 11vw;
            }

            button {
                position: absolute;
                width: 4.4vw;
                height: 3.4vw;
                background: transparent;
                border: none;
                right: 2vw;
                cursor: pointer;
            }

            .nav1 {
                top: 3.1vw;
            }

            .nav2 {
                top: 7.4vw;
            }

            .nav3 {
                top: 11.8vw;
            }

            .nav4 {
                top: 16.2vw;
            }
        }

        .ex3 {

            .overlay {
                .box {
                    position: absolute;
                    left: -42.9vw;
                    width: 68vw;
                }

                .feedback {
                    position: absolute;
                    width: 26vw;
                    left: -3vw;
                }

                h1 {
                    position: absolute;
                    left: -14.5vw;
                    font-family: "Tajawal", sans-serif;
                    font-weight: 500;
                }

                .x {
                    left: -1.6vw;
                    width: 1vw;
                    padding: 1.5vw;
                    background: transparent !important;
                    box-shadow: none !important;
                }

                &::after {

                    content: "";
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.7);
                    z-index: inherit;
                }
            }

            div:not(.navigator) button {
                // margin-left: 16vw;
                background-color: #6fafcd;
                border-radius: 6px;
                border: none;
                color: #fff;
                font-size: 2vw;
                font-family: "Tajawal", sans-serif;
                font-weight: 700;
                padding: 0.8vw 2vw;
                box-shadow: 0 .1vw .2vw .2vw #e1e1e1;
                cursor: pointer;
                position: absolute;
                left: 1.5vw;
                width: 19vw;

                &:hover {
                    background-color: #6ba6c1;
                    box-shadow: 0 .15vw .2vw .2vw #c3c3c3;
                }
            }

            .fb-btn {
                cursor: default !important;

                &:hover {
                    background-color: #6fafcd !important;
                    box-shadow: none !important;
                }
            }

            .retry {
                background-color: #7e4d7c !important;

                &:hover {
                    background-color: #714670 !important;
                    box-shadow: 0 .15vw .2vw .2vw #c3c3c3 !important;
                    cursor: pointer !important;
                }
            }

            input {
                width: 3.8vw;
                height: 4.9vw;
                outline: none;
                font-size: 3vw;
                font-family: "Tajawal", sans-serif;
                font-weight: 500;
                text-align: center;
                border: none;
                background: transparent;
                position: absolute;
                left: -22vw;
            }

            div {

                div:not(.overlay) {
                    display: flex;
                    flex-direction: column;
                }
            }

            .g1 {
                position: relative;
                // top: 72.1vw;
                // left: 25.5vw;

                .i1 {
                    top: 72.3vw;
                }

                .i2 {
                    top: 78.05vw;
                }

                button {
                    top: 75vw;
                }
            }

            .g2 {
                position: relative;

                .i3 {
                    top: 111.7vw;
                }

                .i4 {
                    top: 117.45vw;
                }

                button {
                    top: 114.6vw;
                }
            }

            .g3 {
                position: relative;

                .i5 {
                    left: -33.76vw;
                }

                .i6 {
                    left: -29.47vw;
                }

                button {
                    top: 166.5vw;
                    left: -1.5vw;
                    padding: .3vw .8vw;
                }

                div {
                    flex-direction: row;
                    gap: 1.22vw;
                }

                input {
                    width: 2.7vw;
                    height: 4.8vw;
                    top: 166.35vw;
                }
            }
        }
    }
}

@mixin breakpoints($point) {
    @if $point==mobile {
        @media only screen and (max-width:991px) {
            @content;
        }
    }
}

.ex3 {
    @include breakpoints(mobile) {
        .g1 {
            .i1 {
                top: 73.5vw !important;
            }

            .i2 {
                top: 79.25vw !important;
            }

            input {
                height: initial;
            }

            button {
                top: 74.8vw !important;
            }
        }

        .g2 {

            .i3 {
                top: 113vw !important;
            }

            .i4 {
                top: 118.9vw !important;
            }

            input {
                height: initial;
            }

            button {
                top: 114.4vw !important;
            }
        }

        .g3 {

            .i5,
            .i6 {
                top: 168.3vw !important;
            }

            input {
                height: initial;
            }

            button {
                top: 165.6vw !important;
                left: -1.5vw !important;
                padding: .3vw .8vw;
                background-color: red !important;
            }
        }
    }
}